<div class= "flex justify-between">
    <%= link_to "Go Back", :back, class: "text-white font-semibold "%><br />
    <%= link_to "Home Page", home_index_path, class: "text-white font-semibold text-right"%><br />
</div>