<div class= "flex justify-between">
  <%= link_to :back, class: "text-white text-2xl" do%>
    <i class="fa-solid fa-arrow-left"></i>
  <%end%>
  <%= link_to home_index_path, class: "text-white text-xl" do%>
    <i class="fa-solid fa-house"></i>
  <%end%>
</div>
