<div class="flex justify-center mt-40">
  <div class="block space-y-8 w-2/3 p-6 bg-white border border-gray-200 rounded-lg shadow-lg">
    <%= link_to root_path, class: "text-primary text-2xl" do%>
      <i class="fa-solid fa-arrow-left"></i>
    <%end%>
    <h1 class="font-bold text-4xl">Create a Transaction</h1>
    <%= render "form", fund_transaction: @fund_transaction %>
  </div>
</div>
