<div data-controller="modal" id="my-modal">
  <div class="fixed top-0 left-0 w-full h-full bg-black opacity-50"></div>
  <div class="fixed top-0 left-0 w-full h-full flex items-center justify-center">
    <div class="bg-white p-4">
      <h2 class="text-lg font-medium mb-4">Modal Title</h2>
      <p>Modal content goes here</p>
      <button data-action="click->modal#close" class="bg-blue-500 text-white p-2 rounded-lg">Close</button>
    </div>
  </div>
</div>
